#pg-location {
  .intro {
    p {
      @include caption;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }

  .title {
    text-transform: uppercase;
    @include text-section-header;
    margin-bottom: 10px;
  }

  p {
    @include title-tertiary;
  }

  .about {
    padding: 100px 20px;

    .img {
      width: 100%;
      height: auto;
    }

    .texts {
      display: flex;
      gap: 30px;
      margin-top: 30px;

      > div {
        width: 50%;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }

  .infos {
    background: linear-gradient(
      to bottom,
      transparent 60%,
      $gray-secondary 40%
    );
    padding-bottom: 100px;

    > div {
      display: flex;
      gap: 30px;

      > div {
        width: 50%;
      }

      .img {
        position: relative;
        display: flex;
        justify-content: end;

        h2 {
          position: absolute;
          bottom: 5px;
          left: 135px;
          font-weight: 400;
          font-size: 1.75em;
          line-height: 45.8px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          transform: rotate(-90deg);
          transform-origin: bottom left;
          white-space: nowrap;
        }

        img {
          max-width: 402px;
          width: 100%;
          height: auto;
        }
      }

      .content {
        > div {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }

        .img {
          width: 100%;
          height: auto;
          margin-top: 40px;
        }
      }
    }
  }

  .maps {
    background-color: $gray-secondary;

    a {
      display: block;
      margin-top: 20px;
      width: 100%;
      height: 460px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #pg-location {
    .about {
      padding: 50px 20px;

      .texts {
        flex-wrap: wrap;

        > div {
          width: 100%;
        }

        div {
          flex-wrap: wrap;
        }
      }
    }

    .infos {
      padding-bottom: 50px;

      > div {
        flex-wrap: wrap;

        > div {
          width: 100%;
        }

        .img {
          img {
            max-width: 200px;
          }
        }
      }
    }

    .maps {
      a {
        height: 260px;
      }
    }
  }
}
