.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  padding: 5px 0;
  @include text-btn;
  text-transform: uppercase;
  color: $white;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.3s ease;

  > svg {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, border 0.3s ease;

    path {
      transition: fill 0.3s ease;
    }
  }

  &:hover {
    color: $red;

    svg {
      transform: scale(1.3);

      path {
        fill: $red;
      }
    }
  }

  &.secondary {
    border: 1px solid $white;
    padding: 10px 20px;
    color: $white;
    transition: border-color 0.3s ease, color 0.3s ease;

    &:hover {
      border-color: $red;
      color: $red;
    }
  }
}
