#footer {
  background-color: $gray-secondary;

  .top {
    padding: 50px 0;

    .logo {
      display: block;
      max-width: 190px;
      margin: 0 auto;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 100px;
      border-top: 2px solid $border;
      padding-top: 30px;
      margin-top: 20px;

      .menu {
        display: flex;
        flex-direction: column;
        gap: 50px;
        flex: 1;

        a {
          display: block;
          @include label;
          text-transform: uppercase;
          color: $white;
          transition: color 0.3s ease;

          &:hover {
            color: $red;
          }
        }

        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(3) {
          text-align: end;
          gap: 20px;
        }
      }
    }
  }

  .bottom {
    text-align: center;
    background-color: $background-footer;
    padding: 10px 20px;
    @include label;
    text-transform: uppercase;

    a {
      color: $white;
      transition: color 0.3s ease;

      &:hover {
        color: $red;
      }
    }
  }
}
