$black: #000000;
$white: #ffffff;
$gray: #414042;
$gray-secondary: #272527;
$red: #ffa1a4;
$border: #414042;
$border-contact: #4f4e50;
$border-form: #e6e6e7;
$background-footer: #1e1e1e;
$text-gray: #d0d0d1;
