* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body,
html {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  color: $black;
  background-color: $gray;
  scroll-behavior: smooth;
  color: $white;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  position: relative;
  padding-left: 85px;

  &::before {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    background-color: $white;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateX(-50%);
  }
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  width: 46px;
  height: 46px;
  transition: background 0.3s ease;

  &.slick-next {
    &::before {
      transform: rotate(180deg);
    }
  }

  &::before {
    background-image: url("./img/icons/arrow-slick.svg");
    background-size: 46px 46px;
    display: inline-block;
    width: 46px;
    height: 46px;
    content: "";
  }

  &:hover {
    background-color: $black;
  }
}
